body {
  background: linear-gradient(to bottom, #fffbee 0%, #4e8a49 100%);
  min-height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  flex: 1;
  padding: 2rem;
}
