.modal__overlay {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}


.modal__content {
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  width: 420px;
  max-width: 90%;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: scaleIn 0.25s ease;
  justify-content: center;
}


.modalCloseButton {
  position: absolute;
  top: 12px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.modalCloseButton:hover {
  color: #ff3b3b;
}


.editProfile__header {
  margin-bottom: 16px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.editProfile__user {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 18px;
}


.editProfile__avatar {
  width: 80px;
  height: 80px;
  background: #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 22px;
  color: #666;
}


.editProfile__info {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.edit-mood-btn{
  padding: 0.75rem 1.5rem;
  background: rgb(72,179,107);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s;
  width: 40%;
}
.edit-mood-btn:hover {
  background: #535bf2;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(100, 108, 255, 0.4);
}


/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}