.header {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: transparent;
  margin-bottom: 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  color: #333;
  margin: 16px;

  width: 457px;
  height: 97px;
  float: left;
}
.header__button--primary {
  background: #646cff;
  color: white;
}

.header__button--primary:hover {
  background: #535bf2;
}
